// :host {
//   padding: 16px;
//   display: block;
//   @media screen and (min-width: 1024px) {
//     padding: 16px 44px;
//   }
// }

.edit-form {
  padding: 16px;
  display: block;
  @media screen and (min-width: 1024px) {
    padding: 16px 44px;
  }
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

.pageNovoUtilizador{
  position:relative;
  min-height: 85%;
}

.novoUtilizadorHeader {
  position: relative;
  background: #2A81CC;
  height: 56px;
  font-weight: bold;
  font-weight: 400;
  color: white;
  gap: 16px;
  padding-left: 44px;
  display: flex;
  align-items: center;
}

.novoUtilizadorIcon {
  position: relative;
}

.novoUtilizadorText {
  font-size: 1.2em;
}

.nomeUtilizador{
    width: 60%;
    margin-top: 20px;
    
}

.dadosUtilizador{
  margin-top: 20px;
  
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.example-container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.form-control-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.link1{
  width: 100%;
  margin-top: 10px;
  
  color: #2A81CC;
}

.link2{
  width: 100%;
  margin-top: 10px;
  color: #2A81CC;

}

.buttons{
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.editarUtilizadorButton {
  background: rgba(52, 176, 43, 100);
  color: white;
}

.cancelarButton {
  
  background: darkred;
  color: white;
}

.arrowIcon {
  color:#2A81CC;
  font-size: 2.2em;
  cursor: pointer;
}

.tabelaDepartamento {
  text-align: left;
  background-color: white;
}

.tabelaPerfil {
  width:83%;
  text-align: left;
  background-color: white;
}

.tables {
  display: inline-block;
  vertical-align: top;
}

.deleteIconTable {
  color: darkred;
  cursor: pointer;
}

.dadosContainer{
    padding-top: 10px;
    padding-bottom: 10px;
}
