<mat-form-field appearance="outline" subscriptSizing="dynamic" [matTooltipDisabled]="!clear" matTooltip="{{'general.datePickerTooltip' | translate}}" class="searchDateFormField">
  <mat-label >{{'general.mesEAno' | translate}}</mat-label>
  <input matInput [(ngModel)]="dateFormated" readonly="true" name="dateFilterFormattedInput"/>
  <input [min]="min" [max]="max" style="display: none;" matInput hidden [matDatepicker]="dp" [(ngModel)]="date" name="dateFilterInput"/>
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  
  <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)" panelClass="month-picker">
  </mat-datepicker>
</mat-form-field>
